<%if current_user%>
<a href= "/logout">Logout</a>
<%if current_user.admin%>
<a href= "/jobs/new">Add job</a>
<a href= "/companies/new">Add company</a>

<%end%>
<%else%>
<a href= "/login">Login</a>
<a href= "/signup">Sign up</a>
<%end%>
<a href= "/companies">View all companies</a>

<h1>All open jobs</h1>
<% @jobs.each do |job| %>
  <h2><%= job.title %></h2>
  <p>Company: <%= job.company.name %></p>
  <p>Description: <%= job.description %></p>
  <p>Location: <%= job.location %></p>
  <p>Website: <%= job.url %></p>
  <p>Salary range: <%= job.salary_range %></p>

<%if current_user.liked_jobs.find_by(job_id: job.id) && current_user.liked_jobs.find_by(job_id: job.id).is_liked == true %>
<form method="delete" action="/liked_jobs/<%=current_user.liked_jobs.find_by(job_id: job.id).id%>" class="inline">

  <button type="submit" name="submit_param" value="submit_value" class="link-button">
Unlike
  </button>
</form>
<%else%>
<form method="post" action="/liked_jobs" class="inline">
  <input type="hidden" name="job_id" value=<%=job.id %> >
  <button type="submit" name="submit_param" value="submit_value" class="link-button">
Like
  </button>
</form>
<%end%>
<% end %>