<title> info</title>
<h2><%= @job.id %></h2>
<p>title: <%= @job.title %></p>
<p>description: <%= @job.description %></p>
<p>Company: <%= @job.company.name%> </p>
<p>url: <%= @job.url %></p>
<p>location: <%= @job.location %></p>
<p>salary_range: <%= @job.salary_range %></p>
<a href="/jobs">Back to all job</a>